@media screen and (max-width: 1070px) {
    .inicio img {
        width: 50%;
        height: auto;
        margin-right: 5%;
    }

    .inicio-info {
        margin-top: 4%;
        font-size: 1.8rem;
    }

    .section-cards-hab {
        margin-top: 8%;
    }

    .cards-container .card2 img {
        margin-top: 15%;
    }

    .card-hab h3 {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 860px) {
    .nav a {
        font-size: 1.2rem;
    }

    .inicio img {
        width: 45%;
        height: auto;
    }

    .inicio-info {
        margin-top: 5%;
        font-size: 1.8rem;
    }

    .section-cards-hab {
        margin-top: 7%;
    }

    .cards-container .card2 img {
        margin-top: 16%;
    }

    .card-hab h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 764px) {
    .card h3 {
        font-size: 1.3rem;
    }

    .section-cards-hab {
        margin-top: 11%;
    }

    .card-hab h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 665px) {
    .nav a {
        font-size: 1rem;
    }

    .nav {
        padding: 3%;
    }

    .section-cards-hab {
        margin-top: 20%;
    }

    .card-hab h3 {
        font-size: 0.8rem;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card p {
        font-size: 1rem;
    }

    .card button {
        font-size: 0.8rem;
        width: 50%;
    }

    .inicio-info {
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .sobre p {
        font-size: 1.3rem;
    }

    .cards-container {
        margin-top: 17%;
    }

    .cards-container .card2 img {
        margin-top: 5%;
    }

    h2 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 565px) {
    .nav a {
        font-size: 1rem;
    }

    .nav {
        padding: 3%;
    }

    .card-hab h3 {
        font-size: 0.7rem;
    }

    .section-cards-hab {
        margin-top: 22%;
    }

    .habilidades {
        height: 90vh;

    }

    .cards-container .card2 img {
        margin-top: 5%;
    }

    .cards-container {
        margin-top: 20%;

    }

    h2 {
        font-size: 1.4rem;
    }

    .inicio-info {
        margin-top: 5%;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 485px) {
    h2 {
        font-size: 1.3rem;
    }

    .nav a {
        font-size: 0.9rem;
    }

    .inicio {
        flex-direction: column;
        align-items: center;
    }

    .inicio-info {
        margin-top: 5%;
        align-items: center;
    }

    .inicio img {
        width: 65%;
        height: auto;
        margin-right: 0;
    }

    .section-cards-hab {
        flex-direction: column;
        align-items: center;
        max-height: 80vh;
        margin: 7%;

    }

    .card-hab {
        width: 25%;
        margin: 5%;

    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        max-height: 60vh;
    }

    .info-card {
        width: 100%;
        height: auto;
    }

    .card .buttons {
        flex-direction: column;
        margin: 5%;
    }

    .card {
        width: 60%;
        height: auto;
        flex-direction: row;
    }

    .card img {
        width: 70%;
        height: auto;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card button {
        font-size: 0.9rem;
        width: 80%;
        padding: 5%;
    }
}