@media screen and (max-width: 1070px) {
    .inicio img{
        width: 50%;
        height: auto;
        margin-right: 5%;
    }

    .inicio-info{
        margin-top: 4%;
        font-size: 1.8rem;
    }

    .section-cards-hab{
        margin-top: 8%;
    }

    .cards-container .card2 img{
       margin-top: 15%;
    }
    
    .card-hab h3{
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 860px) {
    .nav a{
        font-size: 1.2rem;
    }
    .inicio img{
        width: 45%;
        height: auto;
    }
    
    .inicio-info{
        margin-top: 5%;
        font-size: 1.8rem;
    }
    
    .section-cards-hab{
        margin-top: 7%;
    }
    
    .cards-container .card2 img{
        margin-top: 16%;
    }
    .card-hab h3{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 764px){
    .card h3 {
        font-size: 1.3rem;
    }
    .section-cards-hab{
        margin-top: 11%;
    }
    .card-hab h3{
        font-size: 1rem;
    }
}

@media screen and (max-width: 665px){
    .card-hab h3{
        font-size: 0.8rem;
    }
    
    .card h3 {
        font-size: 1rem;
    }
    
    .card p{
        font-size: 1rem;
    }
    .card button{
        font-size: 0.8rem;
        width: 50%;
    }
    .inicio-info{
        margin-top: 5%;
        font-size: 1.5rem;
    }
    .sobre p{
        font-size: 1.3rem;
    }

    h2{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 565px) {
    .card h3 {
        font-size: 1rem;
    }
    .nav a{
        font-size: 1rem;
    }
    
    
}