body{
    background: url(images/Wallpaper.png) repeat-y;
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}

h2{
   color: #dff7da;
    font-size: 2rem;
    margin-left: 2%;
    font-family: Demo;

}

.nav{
    display: flex;
    background-image: url(images/Wallpaper.png);
    background-size: cover;
    align-items: center;
    padding: 1% 0% 2.2% 0%;
    position: fixed;
    width: 100%;
    font-family: Demo;
}

.nav img{
    height: auto;
    width: 4%;
    margin-right: 2%;
}

.nav a{
    color: white;
    text-decoration: none;
    margin: 0% 10px;
    font-size: 1.3rem;
   
}

.nav a:hover{
    text-decoration:wavy underline;
    color: #21b802;
    transform: translateY(-10px);
    transition: 0.3s;
}

.nav ul{
    display: flex;
    list-style: none;
}

/* =======================INICIO============================== */

.inicio{
    display: flex;
    height: 97vh;
    justify-content: center;
    align-items: center; 
}

.inicio-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color:#dff7da;
    margin: 3% 5%;   
}

.inicio-info a{
    color: #dff7da;
    text-decoration: none;
}

.inicio-info button{
    background-color: #267417;
    margin-top: 5%;
    padding: 2%;
    font-size: 1rem;
    width: 150px;
    border: #013f0e solid 2px;
    border-radius: 5px;
    font-style:italic;
    box-shadow: #000000 10px 10px 10px;
}

.inicio-info h1{
    color: #188502;
    margin: 2% 0;
    text-shadow: #188502 0px 0px 10px;
    font-family: Demo;
}

.inicio img{
    display: flex;
    height: 65%;
    width: auto;
    margin: 4% 5% 0 0;
    border-radius: 50px;
    border: #00b828c0 solid 1px;
    box-shadow: #038b0a79 10px 10px 20px;
}

/* =================HABILIDADES================================= */

.habilidades{
    display: flex;
    flex-direction: column;
    height:88vh;
}

.section-cards-hab{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    flex-wrap: wrap;
}

.card-hab{
    display: flex;
    background-color: #1c1c24;
    flex-direction: column;
    border-radius: 5px;
    margin: 2%;
    font-family: Demo;
    width: 17%;
}

.card-hab:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}
.card-hab.html{
    box-shadow: #d67a01 10px 10px 20px;
        border: #d67a01 dashed 2px;
}
.card-hab.css{
    box-shadow: #212bad 10px 10px 20px;
        border: #212bad dashed 2px;
}
.card-hab.js{
    box-shadow: #b8b501 10px 10px 20px;
        border: #b8b501 dashed 2px;
}
.card-hab.boot{
    box-shadow: #810caf 10px 10px 20px;
        border: #810caf dashed 2px;
}

.card-hab img{
    height: auto;
    width: auto;
    padding: 10%;
}

.card-hab h3{
    color: #dff7da;
    text-align: center;
    padding: 5%;
    font-size: 1.5rem;
}

.card-hab.html h3{
    background-color: #c7750a;
    border-top: #d67a01 dashed 2px;
    margin-top: 3%;
}
.card-hab.css h3{
    background-color: #1f1e9c;
    border-top: #212bad dashed 2px;
    margin-top: 4%;
}
.card-hab.js h3{
    background-color: #999713;
    border-top: #b8b501 dashed 2px;
    margin-top: 7.5%;
}
.card-hab.boot h3{
    background-color: #801fa7;
    border-top: #5d0a7e dashed 2px;
    margin-top: 5%;
}

/* =====================PROJETOS========================== */

.projetos-section{
    height: 92vh;
}

.cards-container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.card{
    display: flex;
    background-color: #1c1c24;
    flex-direction: column;
    border-radius: 10px;
    margin: 2%;
    width: 25%;
}

.card1{
    box-shadow: #fa72dc 10px 10px 20px;
        border: #fa72dc dashed 2px;
}
.card2{
    box-shadow: #00b828 10px 10px 20px;
        border: #00b828 dashed 2px;
}
.card3{
    box-shadow: #6acaf7 10px 10px 20px;
        border: #6acaf7 dashed 2px;
}
.card:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}

.card h3{
    color: #dff7da;
    margin-left: 2%;
    padding: 3%;
    font-size: 1.5rem;
    border-bottom: #494949 solid 2px;
    font-family: Demo;
}

.card p{
    color: #dff7da;
    /* text-align: center; */
    margin-left: 4%;
    font-size: 1.2rem;
    margin-top: 3%;
    font-family: story;
}

.card img{
    height: auto;
    border-radius: 10px;
    margin: 5%;
}

.card button{
    background-color: #267417;
    padding: 3%;
    font-size: 1rem;
    border: #013f0e solid 2px;
    border-radius: 5px;
    font-style:oblique;
    box-shadow: #000000 5px 5px 10px;
    width: 40%;
    margin: 2% 3% 7% 3%;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 90%;
}


.card button a{
    color: #dff7da;
    text-decoration: none;
    font-family: school;
}

span{
    color: #188d00b0;
    font-family: demo;
}
    /* =================SOBRE/CONTATO==================== */
    
.info{
    display: flex;
    justify-content:space-between;
    height: 80vh;
}

.sobre p{
    display: flex;
    color: #dff7da;
    width: 90%;
    margin: 3% 5%;
    font-size: 1.7rem;
    font-family: schoolbell;
}

.meio{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contato-section{
    margin: 0% 5%;
}
.contato-section h2{
    margin-bottom: 3%;
}

.contato h3{
    color: #dff7da;
    font-size: 1.5rem;
    font-family: demo;
    margin-bottom: 2%;
}

.contato p{
    color: #dff7da;
    font-size: 1.5rem;
    font-family: schoolbell;
}

.contato a{
    text-decoration: none;
}
