body{
    background: url(images/Wallpaper.png) repeat-y;
    background-size: cover;
}

@font-face {
    font-family: Demo;
    src: url(fonts/demonized/Demonized.ttf);
}

html{
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    background-image: url(images/Wallpaper.png);
    background-size: cover;
    /* justify-content: center; */
    align-items: center;
    padding: 18px;
    position: fixed;
    width: 100%;
    /* border-bottom: #007018 dotted 2px; */
    font-family: Demo;
}

.nav img{
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
   
}

.nav a:hover{
    text-decoration:wavy underline;
    color: #21b802;
    transform: translateY(-10px);
    transition: 0.3s;
}

.nav ul{
    display: flex;
    list-style: none;
}

/* ======================================================== */

.inicio{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;    
}

.inicio-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color:#dff7da;
}

.inicio-info a{
    color: #dff7da;
    text-decoration: none;
}

.inicio-info button{
    background-color: #267417;
    margin-top: 5%;
    padding: 2%;
    font-size: 1rem;
    width: 150px;
    border: #013f0e solid 2px;
    border-radius: 5px;
    font-style:italic;
    box-shadow: #000000 10px 10px 10px;
}

.inicio-info h1{
    color: #188502;
    margin: 2% 0;
    text-shadow: #188502 0px 0px 10px;
    font-family: Demo;
}

.inicio img{
    display: flex;
    height: 65%;
    width: auto;
    margin-left: 60px;
    border-radius: 50px;
    border: #00b828c0 solid 1px;
    box-shadow: #038b0a79 10px 10px 20px;
}

/* ================================================== */

.habilidades{
    display: flex;
    flex-direction: column;
    height: 79vh;
}

.habilidades h2{
    color: #dff7da;
    font-size: 2rem;
    margin-left: 2%;
    font-family: Demo;
}

.section-cards-hab{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.card-hab{
    display: flex;
    background-color: #1c1c24;
    flex-direction: column;
    border-radius: 5px;
    margin: 2%;
    font-family: Demo;
}

.card-hab:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}
.card-hab.html{
    box-shadow: #d67a01 10px 10px 20px;
        border: #d67a01 dashed 2px;
}
.card-hab.css{
    box-shadow: #212bad 10px 10px 20px;
        border: #212bad dashed 2px;
}
.card-hab.js{
    box-shadow: #b8b501 10px 10px 20px;
        border: #b8b501 dashed 2px;
}
.card-hab.boot{
    box-shadow: #810caf 10px 10px 20px;
        border: #810caf dashed 2px;
}

.card-hab img{
    height: auto;
    width: 200px;
    padding: 10%;
}

.card-hab h3{
    color: #dff7da;
    text-align: center;
    padding: 5%;
}

.card-hab.html h3{
    background-color: #c7750a;
    border-top: #d67a01 dashed 2px;
    margin-top: 3%;
}
.card-hab.css h3{
    background-color: #1f1e9c;
    border-top: #212bad dashed 2px;
    margin-top: 4%;
}
.card-hab.js h3{
    background-color: #999713;
    border-top: #b8b501 dashed 2px;
    margin-top: 7.5%;
}
.card-hab.boot h3{
    background-color: #801fa7;
    border-top: #5d0a7e dashed 2px;
    margin-top: 5%;
}

/* =================================================== */

.sobre-section h2{
    color: #dff7da;
    font-size: 2rem;
    margin-left: 2%;
    margin-bottom: 2%;
    font-family: Demo;
}
.sobre-section p{
    color: #dff7da;
    font-size: 1.2rem;
    margin-left: 2%;
    width: 50%;
}